<?xml version="1.0"?>
<robot name="collision_box_camera_cable" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="collision_box_camera_cable" params="prefix parent *origin">

    <joint name="${prefix}_collision_box_camera_cable_joint" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="${parent}"/>
      <child link="${prefix}_collision_box_camera_cable_link"/>
    </joint>

    <link name="${prefix}_collision_box_camera_cable_link">
    <collision>
      <geometry>
        <box size="0.01 0.06 0.02"/>
      </geometry>
    </collision> 
    </link>
  </xacro:macro>

</robot>
