<launch>

    <!-- LIDAR bringup node -->
    <node pkg="hls_lfcd_lds_driver" type="hlds_laser_publisher" name="lds_node_front" output="screen">
        <param name="port" value="/dev/front_lidar"/>
        <param name="frame_id" value="summit_xl_front_laser_base_link"/>
        <remap from="scan" to="scan_front_base"/>
    </node>

    <!-- laser filter -->
    <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="lds_node_front_filter">
        <remap from="scan" to="scan_front_base"/>
        <remap from="scan_filtered" to="scan_front"/>
        <param name="target_frame" type="string" value="summit_xl_front_laser_base_link"/>
        <rosparam>
            scan_filter_chain:
            - name: angle
              type: LaserScanAngularBoundsFilterInPlace
              params:
                  lower_angle: 0.0 
                  upper_angle: 1.57
            - name: range
              type: LaserScanRangeFilter
              params:
                  use_message_range_limits: false
                  lower_threshold: 0.15 # hardware limit is 0.12
                  upper_threshold: 3.5
                  lower_replacement_value: .inf # setting to inf improves clearing
                  upper_replacement_value: .inf
            - name: box
              type: LaserScanBoxFilter
              params:
                  box_frame: summit_xl_front_laser_base_link
                  min_x: -0.10
                  max_x: 0.50
                  min_y: -0.10
                  max_y: 0.60
                  min_z: -1.0
                  max_z: 1.0
        </rosparam>
    </node>
</launch>
