<?xml version="1.0"?>
<!-- because the world is sdf version 1.4 it is gonna load version 1_4-->
<model>
  <version>1.4</version>
  <name>low_poly_cargo_container</name>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <author>
    <name>yxungsauce2 (https://sketchfab.com/yxungsauce2)</name>
  </author>
  <description>
    Low Poly Cargo Container
  </description>
</model>
