<?xml version="1.0"?>
<launch>

        <!-- SIMULATION -->
        <arg name="sim"                    default="true"/>

        <!-- GAZEBO -->
        <arg name="ros_planar_move_plugin" default="true"/> <!-- disables gazebo ros_control plugin -->
        <arg name="gazebo_world"           default="$(find icclab_summit_xl)/worlds/summit_xl_office.world"/>
        <arg name="gazebo_gui"             default="true"/>

        <!-- NAV STACK PARAMS -->
        <arg name="teleop"                 default="false"/>
        <arg name="launch_rviz_nav"        default="true"/>
        <arg name="launch_robot_localization" default="false"/>
        <arg name="omni"                   default="true"/>
        <arg name="launch_move_base"       default="true"/>
        <arg name="launch_gmapping"        default="true"/>
        <arg name="launch_amcl"            default="false"/>
        <arg name="launch_map_server"       default="false"/>
        <arg if="$(arg sim)" name="map_file" default="willow_garage/willow_garage.yaml"/>
        <arg unless="$(arg sim)" name="map_file" default="icclab/icclab_latest_map.yaml"/>
        <arg name="publish_voxel_map"      default="false"/>
        <arg name="slam"                   default="true"/>

        <!-- DISABLE ARM CONTROL PARAMS -->
        <arg name="launch_rviz_grasping"   default="false"/>
        <arg name="enable_arm"             default="false"/>
        <arg name="simulation"             default="false"/>

	<!-- TESTING -->
	<arg name="nav_test"               default="false"/>

        <!--======================== COMPLETE SIM ==================================-->
        <include if="$(arg sim)" file="$(find icclab_summit_xl)/launch/irlab_sim_summit_xls_complete.launch">
		<arg name="ros_planar_move_plugin" value="$(arg ros_planar_move_plugin)"/>
		<arg name="gazebo_world"           value="$(arg gazebo_world)"/>
		<arg name="gazebo_gui"             value="$(arg gazebo_gui)"/>
		<arg name="launch_rviz_nav"        value="$(arg launch_rviz_nav)"/>
		<arg name="omni"                   value="$(arg omni)"/>
		<arg name="map_file_a"             value="$(arg map_file)"/>
		<arg name="localization_robot_a"   value="$(arg launch_robot_localization)"/>
		<arg name="move_base_robot_a"      value="$(arg launch_move_base)"/>
		<arg name="gmapping_robot_a"       value="$(arg launch_gmapping)"/>
		<arg name="amcl_and_mapserver_a"   value="$(arg launch_amcl)"/>
		<arg name="nav_test"               value="$(arg nav_test)"/>
                <arg name="slam"                   value="$(arg slam)"/>
                <arg name="launch_rviz_grasping"   value="$(arg launch_rviz_grasping)"/>
                <arg name="enable_arm"             value="$(arg enable_arm)"/>
                <arg name="simulation"             value="$(arg simulation)"/>
	</include>

        <!--======================== COMPLETE ITR ==================================-->
	<include unless="$(arg sim)" file="$(find icclab_summit_xl)/launch/irlab_summit_xl_complete.launch">
                <arg name="teleop"                 value="$(arg teleop)"/>
                <arg name="launch_robot_localization" value="$(arg launch_robot_localization)"/>
                <arg name="omni"                   value="$(arg omni)"/>
                <arg name="launch_move_base"       value="$(arg launch_move_base)"/>
                <arg name="launch_gmapping"        value="$(arg launch_gmapping)"/>
		<arg name="launch_amcl"            value="$(arg launch_amcl)"/>
                <arg name="launch_map_server"       value="$(arg launch_map_server)"/>
                <arg name="map_file"               value="$(arg map_file)"/>
                <arg name="publish_voxel_map"      value="$(arg publish_voxel_map)"/>
                <arg name="slam"                   value="$(arg slam)"/>
        </include>

</launch>
