<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="arm">

  <xacro:macro name="icclab_summit_arm" params="*origin
    tf_prefix:=arm_ 
    parent:=base_link
    simulation:=true
    sim_ignition:=true"
    >

    <!-- arm name  -->
    <xacro:property name="name" default="icclab_ur5" />
    <xacro:property name="ur_type" default="ur5" />
    <xacro:property name="headless_mode" default="true" />

    <!-- parameters -->
    <xacro:property name="joint_limit_params"
      default="$(find ur_description)/config/${ur_type}/joint_limits.yaml" />
    <xacro:property name="kinematics_params"
      default="$(find icclab_summit_xl)/config/ur5_calibrated_kinematics.yaml" />
    <xacro:property name="physical_params"
      default="$(find ur_description)/config/${ur_type}/physical_parameters.yaml" />
    <xacro:property name="visual_params" default="$(find ur_description)/config/${ur_type}/visual_parameters.yaml"/>

    <xacro:if value="${simulation}">
      <!-- Simulation parameters -->
      <xacro:property name="fake_sensor_commands" default="false" />
      <xacro:property name="sim_gazebo" default="${not sim_ignition}" />
      <xacro:property name="sim_ignition" default="${sim_ignition}" />
      <xacro:property name="simulation_controllers"
        default="$(find icclab_summit_xl)/config/ur_controllers.yaml" />
        <xacro:property name="robot_ip" default="0.0.0.0" />
    </xacro:if>
    <xacro:unless value="${simulation}">
      <xacro:property name="robot_ip" default="192.168.0.210" />
    </xacro:unless>

    <!-- import ur macro -->
    <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro" />

    <!-- call the actual ur macro -->
    <!-- NOTE: we pass use_fake_hardware="false" to avoid generation of unneeded ros2 control plugins, i.e., mock_components/GenericSystem -->
    <xacro:ur_robot
      name="${name}"
      tf_prefix="${tf_prefix}"
      parent="${parent}"
      joint_limits_parameters_file="${joint_limit_params}"
      kinematics_parameters_file="${kinematics_params}"
      physical_parameters_file="${physical_params}"
      visual_parameters_file="${visual_params}"
      use_fake_hardware="true"
      sim_gazebo="${sim_gazebo}"
      sim_ignition="${sim_ignition}"
      headless_mode="${headless_mode}"
      robot_ip="${robot_ip}"
    >
      <xacro:insert_block name="origin" />  <!-- position robot in the world -->
    </xacro:ur_robot>

    <!-- Commented: we use a single controller manager and it's included by the robot base-->
    <!-- <xacro:if value="$(arg sim_gazebo)">
    <gazebo reference="$(arg tf_prefix)base_link">
    </gazebo>
    <gazebo>
      <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control_arm">
        <namespace>$(arg robot_id)</namespace>
        <parameters>$(arg simulation_controllers)</parameters>
      </plugin>
    </gazebo>
  </xacro:if> -->

    <!-- TODO: FIXME for Ignition
  
  <xacro:if value="${sim_ignition}">
    <gazebo reference="$(arg tf_prefix)base_link">
    </gazebo>
    <gazebo>
      <plugin filename="libign_ros2_control-system.so"
    name="ign_ros2_control::IgnitionROS2ControlPlugin">
        <parameters>$(arg simulation_controllers)</parameters>
        <controller_manager_node_name>$(arg tf_prefix)controller_manager</controller_manager_node_name>
      </plugin>
    </gazebo>
  </xacro:if> -->

  </xacro:macro>
  
  <!-- <xacro:icclab_summit_arm simulation="true">
			<origin xyz="0.255 0 0.275" rpy="0 0 ${pi}" />
	</xacro:icclab_summit_arm> -->

  

</robot>