<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">


  <!-- ros control plugin
  <xacro:macro name="ros_control">
    <gazebo>
	  <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
		    <robotParam>robot_description</robotParam>
        	<controlPeriod>0.001</controlPeriod>
	     	<robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
		    <legacyModeNS>true</legacyModeNS> 
      </plugin>
    </gazebo>
	</xacro:macro> -->

	<!-- <xacro:macro name="joint_state_publisher" params="prefix"> -->
    <!-- <gazebo> -->
		<!-- <plugin filename="ignition-gazebo-joint-state-publisher-system" -->
		<!-- name="ignition::gazebo::systems::JointStatePublisher"> -->
		<!-- <topic>${prefix}joint_states</topic> -->
		<!-- <update_rate>30</update_rate> -->
		<!-- <joint_name>${prefix}front_left_wheel_joint</joint_name> -->
		<!-- <joint_name>${prefix}front_right_wheel_joint</joint_name> -->
		<!-- <joint_name>${prefix}rear_left_wheel_joint</joint_name> -->
		<!-- <joint_name>${prefix}rear_right_wheel_joint</joint_name> -->
		<!-- </plugin>     -->
	<!-- </gazebo> -->
  	<!-- </xacro:macro> -->

	<!-- skid steering plugin -->
	<xacro:macro name="skid_steering" params="ns prefix">
    <gazebo>
	  <plugin filename="libignition-gazebo-diff-drive-system.so" name="ignition::gazebo::systems::DiffDrive">
		    <odom_publish_frequency>50</odom_publish_frequency>
		    <left_joint>${prefix}front_left_wheel_joint</left_joint>
		    <right_joint>${prefix}front_right_wheel_joint</right_joint>
		    <left_joint>${prefix}rear_left_wheel_joint</left_joint>
		    <right_joint>${prefix}rear_right_wheel_joint</right_joint>
		    <!-- wheel_separation>0.566</wheel_separation --> <!-- real parameter value -->
		    <wheel_separation>0.462</wheel_separation> <!-- works a bit better in Gazebo -->
		    <wheel_radius>0.11</wheel_radius>
		    <child_frame_id>${prefix}base_footprint</child_frame_id>
			<!-- <topic>summit/cmd_vel</topic> -->
         	<!-- <odom_topic>/robotnik_base_control/odom</odom_topic> -->
		    <frame_id>${prefix}odom</frame_id>
			<!-- <tf_topic>/${ns}/tf</tf_topic> -->
      </plugin>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="omni_steering" params="ns prefix">
		<gazebo>
		<!-- <plugin filename="ignition-gazebo-mecanum-drive-system" name="ignition::gazebo::systems::MecanumDrive"> -->
			<!-- <odom_publish_frequency>50.0</odom_publish_frequency> -->
			<!-- <front_left_joint>${prefix}front_left_wheel_joint</front_left_joint> -->
			<!-- <front_right_joint>${prefix}front_right_wheel_joint</front_right_joint> -->
			<!-- <back_left_joint>${prefix}back_left_wheel_joint</back_left_joint> -->
			<!-- <back_right_joint>${prefix}back_right_wheel_joint</back_right_joint> -->
			<!-- https://www.roscomponents.com/en/mobile-robots/rb-steel -->
			<!-- <wheel_separation>0.535</wheel_separation> -->
			<!-- <wheelbase>0.43</wheelbase> -->
			<!-- <wheel_radius>0.127</wheel_radius> -->
			<!-- <topic>/robotnik_base_control/cmd_vel</topic> -->
			<!-- <odom_topic>/robotnik_base_control/odom</odom_topic> -->
			<!-- <tf_topic>/${ns}/tf</tf_topic> -->
			<!-- <frame_id>${prefix}odom</frame_id> -->
			<!-- <child_frame_id>${prefix}base_footprint</child_frame_id>  -->
      <!-- </plugin> -->

	    <plugin
        filename="ignition-gazebo-velocity-control-system"
        name="ignition::gazebo::systems::VelocityControl">
      	</plugin>

		<plugin
        filename="ignition-gazebo-odometry-publisher-system"
        name="ignition::gazebo::systems::OdometryPublisher">
		<odom_frame>${prefix}odom</odom_frame>
		<robot_base_frame>${prefix}base_footprint</robot_base_frame>
      	</plugin>

	  </gazebo>	
  </xacro:macro>

  <!-- <xacro:macro name="ros_force_based_move" params="publish_tf prefix">
	  <gazebo>
		 <plugin name="ros_force_based_move" filename="librobotnik_force_based_move.so">
			 <commandTopic>robotnik_base_control/cmd_vel</commandTopic>
			 <odometryTopic>robotnik_base_control/odom</odometryTopic>
	         <odometryFrame>${prefix}odom</odometryFrame>
			 <yaw_velocity_p_gain>10000.0</yaw_velocity_p_gain>
			 <x_velocity_p_gain>10000.0</x_velocity_p_gain>
			 <y_velocity_p_gain>10000.0</y_velocity_p_gain>
			 <robotBaseFrame>${prefix}base_footprint</robotBaseFrame>
			 <commandWatchdog>1</commandWatchdog>
			 <odometryRate>50.0</odometryRate>
			 <publishOdometryTf>${publish_tf}</publishOdometryTf>
		 </plugin>
	  </gazebo>
  </xacro:macro> -->

  <gazebo reference="base_footprint">
    <material>Gazebo/Green</material>
  </gazebo>


</robot>
