<?xml version="1.0"?>
<robot name="summit_xl" xmlns:xacro="http://www.ros.org/wiki/xacro">


	<!-- ***************** -->
	<!-- Imported elements -->
	<!-- ***************** -->

	<!-- First we import all posible elements defined in the urdf.xacro files. All these elements are defined as macro:xacros -->

	<!-- Import summit XL base elements -->
	<xacro:include filename="$(find summit_xl_description)/urdf/bases/summit_xl_hls_base.urdf.xacro" />

	<!-- Import summit XL wheels -->
	<xacro:include filename="$(find summit_xl_description)/urdf/wheels/omni_wheel.urdf.xacro" />
	<xacro:include filename="$(find summit_xl_description)/urdf/wheels/rubber_wheel.urdf.xacro" />
	<xacro:include filename="$(find summit_xl_description)/urdf/structures/structure_hokuyo.urdf.xacro" />

	<!-- Import arm description -->
	<xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro" />

	<!-- Import all available robotnik sensors -->
	<xacro:include filename="$(find robotnik_sensors)/urdf/all_sensors.urdf.xacro" />

	<!-- Import gripper Schunk EGP40-->
	<xacro:include filename="$(find icclab_summit_xl)/urdf/gripper/schunk_egp40.urdf.xacro" />

	<!-- ICCLab sensors -->
	<xacro:include filename="$(find icclab_summit_xl)/urdf/sensors/scanse.urdf.xacro" />
	<!--<xacro:include filename="$(find icclab_summit_xl)/urdf/sensors/intel_d435.urdf.xacro" /> -->
	<xacro:include filename="$(find icclab_summit_xl)/urdf/sensors/intel_d415.urdf.xacro" />

	<!-- Intel camera mount -->
	<xacro:include filename="$(find icclab_summit_xl)/urdf/sensors/intel_camera_mount.urdf.xacro" />

	<xacro:property name="PI" value="3.1415926535897931"/>

	<xacro:property name="wheel_offset_x" value="0.2225" />
	<!-- x,y,z in translation from base_link to the center of the wheel -->
	<xacro:property name="wheel_offset_y" value="0.2045" />
	<xacro:property name="wheel_offset_z" value="0.0" />

	<!-- <xacro:property name="front_laser_offset_x" value="0.377"/>    -->
	<xacro:property name="front_laser_offset_x" value="0.34"/>
	<!-- <xacro:property name="front_laser_offset_y" value="-0.20957"/>     -->
	<xacro:property name="front_laser_offset_y" value="-0.235"/>
	<!-- <xacro:property name="front_laser_offset_z" value="0.2024"/> -->
	<xacro:property name="front_laser_offset_z" value="0.1566"/>

	<!-- <xacro:property name="rear_laser_offset_x" value="-0.377"/> -->
	<xacro:property name="rear_laser_offset_x" value="-0.34"/>
	<!-- <xacro:property name="rear_laser_offset_y" value="0.20957"/>     -->
	<xacro:property name="rear_laser_offset_y" value="0.235"/>
	<!-- <xacro:property name="rear_laser_offset_z" value="0.2024"/> -->
	<xacro:property name="rear_laser_offset_z" value="0.1566"/>

	<xacro:property name="front_ptz_camera_offset_x" value="0.308"/>
	<xacro:property name="front_ptz_camera_offset_y" value="0.141"/>
	<xacro:property name="front_ptz_camera_offset_z" value="0.195"/>

	<xacro:property name="imu_offset_x" value="0.25"/>
	<xacro:property name="imu_offset_y" value="-0.15"/>
	<xacro:property name="imu_offset_z" value="0.18"/>

	<xacro:property name="front_rgbd_camera_offset_x" value="0.324"/>
	<xacro:property name="front_rgbd_camera_offset_y" value="0.012"/>
	<xacro:property name="front_rgbd_camera_offset_z" value="0.230"/>

  <xacro:property name="base_arm_x" value="0.225"/>
  <xacro:property name="base_arm_y" value="0.0"/>
  <xacro:property name="base_arm_z" value="0.355"/>

	<!-- Flag to select the high or low quality model -->
	<xacro:property name="hq" value="true" />

	<xacro:arg name="prefix" default="summit_xl_"/>
	<xacro:arg name="ros_planar_move_plugin" default="false"/>


	<xacro:macro name="summit_xl" params="prefix publish_bf hq">

		<!-- Here we create the robot elements using the xacro:macros imported at the beggining of this file -->

		<!-- Summit XL base -->
		<xacro:summit_xl_hls_base prefix="$(arg prefix)" publish_bf="true" hq="${hq}" />

		<!-- Wheels -->
		<xacro:omni_wheel prefix="$(arg prefix)front_right" parent="$(arg prefix)base_link" reflect="false" hq="${hq}">
			<origin xyz="${wheel_offset_x} -${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
		</xacro:omni_wheel>

		<xacro:omni_wheel prefix="$(arg prefix)front_left" parent="$(arg prefix)base_link" reflect="true" hq="${hq}">
			<origin xyz="${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
		</xacro:omni_wheel>

		<xacro:omni_wheel prefix="$(arg prefix)back_left" parent="$(arg prefix)base_link" reflect="true" hq="${hq}">
			<origin xyz="-${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
		</xacro:omni_wheel>

		<xacro:omni_wheel prefix="$(arg prefix)back_right" parent="$(arg prefix)base_link" reflect="false" hq="${hq}">
			<origin xyz="-${wheel_offset_x} -${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
		</xacro:omni_wheel>

		<!-- IMU -->
		<xacro:sensor_imu_hector prefix="$(arg prefix)imu" parent="$(arg prefix)base_link">
			<origin xyz="-0.18 0.0 0.170" rpy="0 0 0"/>
		</xacro:sensor_imu_hector>

		<!-- SENSORS -->
		<!-- front camera -->
		<xacro:sensor_orbbec_astra prefix="$(arg prefix)front_rgbd_camera" parent="$(arg prefix)base_link" prefix_topic="front_rgbd_camera">
			<origin xyz="${front_rgbd_camera_offset_x} ${front_rgbd_camera_offset_y} ${front_rgbd_camera_offset_z}" rpy="0 0 0"/>
		</xacro:sensor_orbbec_astra>

		<!-- Scanse front lidar -->
		<xacro:scanse prefix="$(arg prefix)front_laser" parent="$(arg prefix)base_link" prefix_topic="scan_front">
			<origin xyz="${front_laser_offset_x} ${front_laser_offset_y} ${front_laser_offset_z}" rpy="0 0 ${-PI/4.0}"/>
		</xacro:scanse>

		<!-- Scanse rear lidar -->
		<xacro:scanse prefix="$(arg prefix)rear_laser" parent="$(arg prefix)base_link" prefix_topic="scan_rear">
			<origin xyz="${rear_laser_offset_x} ${rear_laser_offset_y} ${rear_laser_offset_z}" rpy="0 0 ${3.0*PI/4.0}"/>
		</xacro:scanse>

		<!-- UR5 Arm -->
		<xacro:ur5_robot prefix="arm_" joint_limited="false">
		</xacro:ur5_robot>

		<joint name="$(arg prefix)arm_base_joint" type="fixed">
			<origin xyz="0.255 0 0.275" rpy="0 0 ${PI}" />
			<parent link="$(arg prefix)base_link" />
			<child link="arm_base_link" />
		</joint>

		<!-- GRIPPER -->

		<xacro:schunk_egp_40 prefix="gripper_" parent="arm_tool0" >
			 <origin xyz="0.0 0 0.0" rpy="0 0 0" />
		</xacro:schunk_egp_40> 
		
		<!-- Camera on gripper --> 
		<!-- had to copy and modidy camera to avoid name clash with robotnik defined sensors -->
		<!--<sensor_d435_icclab prefix="arm" prefix_topic="arm_camera" parent="arm_wrist_2_link">
     		<origin xyz="0 0.07 0.155" rpy="0 0 ${PI/2}"/>
   		</sensor_d435_icclab> -->

		<sensor_d415_icclab prefix="arm" prefix_topic="arm_camera" parent="arm_wrist_2_link">
     		<origin xyz="0 0.05 0.155" rpy="0 0 ${PI/2}"/> <!-- Note the position seems to be wrong in gazebo beacuase we use the d435 mesh file, but it is correct considering the real size of the camera-->
   		</sensor_d415_icclab>

		<!-- Camera mount -->
		<xacro:camera_mount prefix="arm" parent="arm_wrist_2_link">
			 <origin xyz="-0.005 0.04 0.100" rpy="${PI/2} 0 ${PI}" />
		</xacro:camera_mount>
		
   </xacro:macro>
   
   <xacro:ros_control/>
 
   <xacro:if value="$(arg ros_planar_move_plugin)">
	   <xacro:omni_steering prefix="$(arg prefix)" publish_tf="false"/>
   </xacro:if>
   
   <xacro:summit_xl prefix="$(arg prefix)" publish_bf="true" hq="true"/>

</robot>

