# add rplidar with symlink name "/dev/rplidar"
ACTION=="add", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", SYMLINK+="rplidar", RUN+="/etc/init.d/rplidar start"
