<!-- see more info here http://wiki.ros.org/depthimage_to_laserscan -->
<launch>
        <!-- converts front camera depth image to type LaserScan -->
        <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan">
                <remap from="image" to="front_rgbd_camera/depth/image_raw"/>
                <remap from="scan" to="front_rgbd_camera/scan"/>
                <param name="scan_height" value="5"/>
                <param name="scan_time" value="0.2"/>
                <param name="range_min" value="0.05"/>
                <param name="range_max" value="6.0"/>
                <param name="output_frame_id" value="summit_xl_front_rgbd_camera_depth_frame"/>
        </node>
</launch>

