<?xml version="1.0"?>
<launch>
	<!-- valid for summitxl - summitxl hl - summitxl hls -->
	<!-- The environment variables should be set in a file or .bashrc -->

	<arg name="id_robot" default="$(optenv ROBOT_ID summit_xl)"/>

	<group ns="$(arg id_robot)">

		<!-- start arm controller -->
		<include file="$(find summit_xls_ur5_bringup)/launch/ur5_complete.launch"/>
    
	</group>

</launch>

