<?xml version="1.0"?>
<launch>

<arg name="id_robot" default="$(optenv ROBOT_ID summit_xl)"/>

  <!-- GDB functionality -->
  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

  <arg name="robot_ip" value="192.168.1.110"/>
  <arg name="reverse_port" value="5001"/>
  <arg name="limited" default="true"/>
  <arg name="min_payload"  default="0.0"/>
  <arg name="max_payload"  default="5.0"/>
  <arg name="prefix" default="arm_" />
  <arg name="max_velocity" default="10.0"/> <!-- [rad/s] -->
  <arg name="use_lowbandwidth_trajectory_follower" default="false"/>
  <arg name="time_interval" default="0.008"/>
  <arg name="servoj_time" default="0.008" />
  <arg name="servoj_time_waiting" default="0.001" />
  <arg name="max_waiting_time" default="2.0" />
  <arg name="servoj_gain" default="100." />
  <arg name="servoj_lookahead_time" default="1." />
  <arg name="max_joint_difference" default="0.01" />
  <arg name="base_frame" default="$(arg prefix)base" />
  <arg name="tool_frame" default="$(arg prefix)tool0_controller" />
  <arg name="shutdown_on_disconnect" default="true" /> 

 <group ns="$(arg id_robot)">


  <!-- Load hardware interface -->
  <node name="$(arg prefix)hardware_interface" pkg="ur_modern_driver" type="ur_driver" output="screen" launch-prefix="$(arg launch_prefix)">
    <param name="robot_ip_address" type="str" value="$(arg robot_ip)"/>
    <param name="reverse_port" type="int" value="$(arg reverse_port)"/>
    <param name="min_payload" type="double" value="$(arg min_payload)"/>
    <param name="max_payload" type="double" value="$(arg max_payload)"/>
    <param name="max_velocity" type="double" value="$(arg max_velocity)"/>
    <param name="use_ros_control" type="bool" value="True"/>
    <param name="prefix" value="" />
    <param name="base_frame" type="str" value="$(arg base_frame)"/>
    <param name="tool_frame" type="str" value="$(arg tool_frame)"/>
    <param name="use_lowbandwidth_trajectory_follower" value="$(arg use_lowbandwidth_trajectory_follower)"/>
    <param name="time_interval" value="$(arg time_interval)"/>
    <param name="servoj_time" value="$(arg servoj_time)" />
    <param name="servoj_time_waiting" value="$(arg servoj_time_waiting)" />
    <param name="max_waiting_time" value="$(arg max_waiting_time)" />
    <param name="servoj_gain" value="$(arg servoj_gain)" />
    <param name="servoj_lookahead_time" value="$(arg servoj_lookahead_time)" />
    <param name="max_joint_difference" value="$(arg max_joint_difference)" />
    <param name="shutdown_on_disconnect" value="$(arg shutdown_on_disconnect)"/>
 </node>

  <rosparam file="$(find summit_xls_ur5_bringup)/config/$(arg prefix)params.yaml" command="load"/>

  <include file="$(find summit_xls_ur5_bringup)/launch/ur5_controllers.launch">
        <arg name="prefix" value="arm_"/>
  </include>


 </group>

</launch>

