<launch>

        <!-- GAZEBO -->
        <arg name="ros_planar_move_plugin" default="false"/> <!-- disables gazebo ros_control plugin -->
        <arg name="gazebo_world"           default="$(find icclab_summit_xl)/worlds/summit_xl_grasping.world"/>

        <!-- ARM CONTROL PARAMS -->
        <arg name="launch_rviz_grasping"   default="true"/>
        <arg name="enable_arm"             default="true"/>
        <arg name="db"                     default="false"/> <!-- By default, we do not start a database (it can be large) -->
        <arg name="db_path"                default="$(find icclab_summit_xl)/default_warehouse_mongo_db"/> <!-- Allow user to specify database location -->
        <arg name="debug"                  default="false"/> <!-- By default, we are not in debug mode -->
        <arg name="simulation"             default="true"/>


        <!--======================== LAUNCH SIM COMPLETE ==================================-->
        <include file="$(find icclab_summit_xl)/launch/irlab_sim_summit_xls_complete_robotiqgripper.launch">
                <arg name="ros_planar_move_plugin" value="$(arg ros_planar_move_plugin)"/>
                <arg name="gazebo_world"           value="$(arg gazebo_world)"/>
                <arg name="launch_rviz_grasping"   value="$(arg launch_rviz_grasping)"/>
                <arg name="enable_arm"             value="$(arg enable_arm)"/>
                <arg name="db"                     value="$(arg db)"/>
                <arg name="db_path"                value="$(arg db_path)"/>
                <arg name="debug"                  value="$(arg debug)"/>
                <arg name="simulation"             value="$(arg simulation)"/>
        </include>

</launch>
