<launch>

        <!-- GAZEBO -->
        <arg name="ros_planar_move_plugin" default="true"/> <!-- disables gazebo ros_control plugin -->
        <arg name="gazebo_world"           default="$(find icclab_summit_xl)/worlds/summit_xl_office.world"/>
        <arg name="gazebo_gui"             default="true"/>

        <!-- NAV STACK PARAMS -->
        <arg name="launch_rviz_nav"       default="true"/>
        <arg name="map_file_a"            default="willow_garage/willow_garage.yaml"/>
        <arg name="localization_robot_a"  default="false"/>
        <arg name="gmapping_robot_a"      default="false"/>
        <arg name="move_base_robot_a"     default="true"/>
        <arg name="amcl_and_mapserver_a"  default="true"/>

	<!-- TESTING -->
	<arg name="nav_test"              default="false"/>

        <!--======================== LAUNCH SIM COMPLETE ==================================-->
        <include file="$(find icclab_summit_xl)/launch/irlab_sim_summit_xls_complete.launch">
		<arg name="ros_planar_move_plugin" value="$(arg ros_planar_move_plugin)"/>
		<arg name="gazebo_world"           value="$(arg gazebo_world)"/>
		<arg name="gazebo_gui"             value="$(arg gazebo_gui)"/>
		<arg name="launch_rviz_nav"        value="$(arg launch_rviz_nav)"/>
		<arg name="map_file_a"             value="$(arg map_file_a)"/>
		<arg name="localization_robot_a"   value="$(arg localization_robot_a)"/>
		<arg name="gmapping_robot_a"       value="$(arg gmapping_robot_a)"/>
		<arg name="move_base_robot_a"      value="$(arg move_base_robot_a)"/>
		<arg name="amcl_and_mapserver_a"   value="$(arg amcl_and_mapserver_a)"/>
		<arg name="nav_test"               value="$(arg nav_test)"/>
	</include>

</launch>
