<?xml version="1.0"?>
<launch>
	<!-- valid for summitxl - summitxl hl - summitxl hls -->
	<!-- The environment variables should be set in a file or .bashrc -->

	<arg name="id_robot" default="$(optenv ROBOT_ID summit_xl)"/>
	<arg name="simulation" default="false"/>
	
	<group ns="$(arg id_robot)">

		<arg name="prefix" value="$(arg id_robot)_"/>

		<!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
		<include file="$(find icclab_summit_xl)/launch/planning_context.launch">
			<arg name="load_robot_description" value="false"/>
			<arg name="simulation" value="$(arg simulation)"/>
		</include>

		<!-- Run the main MoveIt executable -->
		<include file="$(find icclab_summit_xl)/launch/move_group.launch">
			<arg name="allow_trajectory_execution" value="true"/>
			<arg name="fake_execution" value="false"/>
			<arg name="info" value="true"/>
			<arg name="debug" value="false"/>
		</include>

		<!-- Controller parameters-->
		<rosparam file="$(find robotnik_ur5_moveit_config)/config/controllers.yaml"/>

		<!-- import octomap sensors -->
		<include ns="move_group"  file="$(find icclab_summit_xl)/launch/include/sensor_manager.launch.xml"/>

	</group>

</launch>

