<?xml version="1.0"?>
<launch>

        <!-- GAZEBO -->
        <arg name="gazebo_world"           default="$(find icclab_summit_xl)/worlds/summit_xl_grasping.world"/>
        <arg name="gazebo_gui"             default="true"/>

        <!-- ARM CONTROL PARAMS -->
        <arg name="launch_rviz_grasping"   default="true"/>
        <arg name="enable_arm"             default="true"/>
        <arg name="db"                     default="false"/> <!-- By default, we do not start a database (it can be large) -->
        <arg name="db_path"                default="$(find icclab_summit_xl)/default_warehouse_mongo_db"/> <!-- Allow user to specify database location -->
        <arg name="debug"                  default="false"/> <!-- By default, we are not in debug mode -->
        <arg name="simulation"             default="true"/>

        <!-- GRIPPER PARAMS -->
        <arg name="robotiq_gripper"        default="false"/>

        <!-- DISABLE NAV STACK PARAMS -->
        <arg name="launch_rviz_nav"        default="false"/>
        <arg name="gmapping_robot_a"       default="false"/>
        <arg name="move_base_robot_a"      default="false"/>
        <arg name="amcl_and_mapserver_a"   default="false"/>
        <arg name="slam"                   default="false"/> 

        <!--======================== LAUNCH SIM COMPLETE ==================================-->
        <include file="$(find icclab_summit_xl)/launch/irlab_sim_summit_xls_complete.launch">
                <arg name="gazebo_world"           value="$(arg gazebo_world)"/>
                <arg name="gazebo_gui"             value="$(arg gazebo_gui)"/>
                <arg name="launch_rviz_grasping"   value="$(arg launch_rviz_grasping)"/>
                <arg name="enable_arm"             value="$(arg enable_arm)"/>
                <arg name="db"                     value="$(arg db)"/>
                <arg name="db_path"                value="$(arg db_path)"/>
                <arg name="debug"                  value="$(arg debug)"/>
                <arg name="simulation"             value="$(arg simulation)"/>
		<arg name="robotiq_gripper"        value="$(arg robotiq_gripper)"/>
                <arg name="launch_rviz_nav"        value="$(arg launch_rviz_nav)"/>
                <arg name="gmapping_robot_a"       value="$(arg gmapping_robot_a)"/>
                <arg name="move_base_robot_a"      value="$(arg move_base_robot_a)"/>
                <arg name="amcl_and_mapserver_a"   value="$(arg amcl_and_mapserver_a)"/>
                <arg name="slam"                   value="$(arg slam)"/>
        </include>

</launch>
