<launch>

  <!-- By default, we do not start a database (it can be large) -->
  <arg name="db" default="false" />
  <!-- Allow user to specify database location -->
  <arg name="db_path" default="$(find icclab_summit_xl)/default_warehouse_mongo_db" />

  <!-- By default, we are not in debug mode -->
  <arg name="debug" default="false" />

  <!--
  By default, hide joint_state_publisher's GUI

  MoveIt!'s "demo" mode replaces the real robot driver with the joint_state_publisher.
  The latter one maintains and publishes the current joint configuration of the simulated robot.
  It also provides a GUI to move the simulated robot around "manually".
  This corresponds to moving around the real robot without the use of MoveIt.
  -->
  <arg name="xacro_robot_a" default="irlab_summit_xls_std.urdf.xacro"/>
  
  <arg name="id_robot" default="summit_xl"/>
	<group ns="$(arg id_robot)">

    <!-- Run Rviz and load the default config to see the state of the move_group node -->
     <arg name="command_args" value="-d $(find icclab_summit_xl)/rviz/grasping.rviz" />
     <node name="rviz_grasping" pkg="rviz" type="rviz" args="$(arg command_args)" respawn="false" output="screen">
      <rosparam command="load" file="$(find icclab_summit_xl)/config/kinematics.yaml"/>
    </node>
    
    <!-- The semantic description that corresponds to the URDF -->
<!--    <arg name="robot_description" default="robot_description"/>-->
<!--    <param name="$(arg robot_description)_semantic" textfile="$(find icclab_summit_xl)/config/summit_xl.srdf" />-->
    
    <!-- run point cloud filtering--> 
    <node name="pointcloud_filtering" pkg="irlab_point_cloud_filtering" type="point_cloud_filtering_server" respawn="false" output="screen"/>
    
<!--    <rosparam command="delete" param="move_group/sensors" />-->
<!--    <include ns="move_group"  file="$(find gpd)/launch/include/sensor_manager.launch.xml"/>-->

    <!-- If database loading was enabled, start mongodb as well -->
    <include file="$(find icclab_summit_xl)/launch/default_warehouse_db.launch" if="$(arg db)">
      <arg name="moveit_warehouse_database_path" value="$(arg db_path)"/>
    </include>
  
  </group>
  
  <!-- run grasp detection -->
  <include file="$(find icclab_summit_xl)/launch/include/grasp_generation.launch.xml"/>

</launch>
