<!--
NOTE: at laserscan_multi_merger.cpp line 74 ros::Duration(5).sleep(); was added to fix subscribing issue when merger + lidar bringup is in same launch file
      see https://answers.ros.org/question/225183/ira_laser_tools-merger-doesnt-subscribe-to-topics-from-laser-in-gazebo/?answer=229203#post-id-229203
-->
<launch>
	<arg name="cloud_destination_topic" default="merged_cloud"/>
        <arg name="scan_destination_topic" default="scan_combined"/>

        <node pkg="ira_laser_tools" name="laserscan_multi_merger" type="laserscan_multi_merger" output="screen">
                <param name="destination_frame" value="summit_xl_base_link"/>
                <param name="cloud_destination_topic" value="$(arg cloud_destination_topic)"/>
                <param name="scan_destination_topic" value="$(arg scan_destination_topic)"/>
	<!-- hardcoded because needs '/' in front of topics -->
        <param name="laserscan_topics" value="/summit_xl/scan_front /summit_xl/scan_rear" /> <!-- LIST OF THE LASER SCAN TOPICS TO SUBSCRIBE -->

        <param name="angle_min" value="-3.14"/>
        <param name="angle_max" value="3.14"/>
        <param name="angle_increment" value="0.0058"/> <!-- fixes this issue https://github.com/scanse/sweep-ros/issues/14 -->
        <param name="scan_time" value="0.0333333"/>
        <param name="range_min" value="0.02"/>
        <param name="range_max" value="40.0"/>
        </node>
</launch>
