<?xml version="1.0"?>
<launch>
  <!-- GRIPPER PARAMS -->
  <arg name="robotiq_gripper"   default="false"/>
  <!-- By default we do not overwrite the URDF. Change the following to true to change the default behavior -->
  <arg name="load_robot_description" default="false"/>
  <!-- By default we assume real robot and use slower joint limits -->
  <arg name="simulation" default="false"/>

  <!-- The name of the parameter under which the URDF is loaded -->
  <arg name="robot_description" default="robot_description"/>


  <!-- Load universal robot description format (URDF) -->
  <param if="$(arg load_robot_description)" name="$(arg robot_description)" command="xacro --inorder  '$(find icclab_summit_xl)/robots/irlab_summit_xls_std.urdf.xacro' robotiq_gripper:=$(arg robotiq_gripper)"/>


  <!-- The semantic description that corresponds to the URDF -->
  <param name="$(arg robot_description)_semantic" textfile="$(find icclab_summit_xl)/config/summit_xl.srdf" unless="$(arg robotiq_gripper)" />
  <param name="$(arg robot_description)_semantic" textfile="$(find icclab_summit_xl)/config/summit_xl.srdf" if="$(arg robotiq_gripper)" />

  <!-- Load updated joint limits (override information from URDF) -->
  <group ns="$(arg robot_description)_planning">
	<rosparam unless="$(arg simulation)" command="load" file="$(find icclab_summit_xl)/config/joint_limits.yaml"/>
  <rosparam if="$(arg simulation)" command="load" file="$(find icclab_summit_xl)/config/joint_limits_simulation.yaml"/>
  </group>

  <!-- Load default settings for kinematics; these settings are overridden by settings in a node's namespace -->
  <group ns="$(arg robot_description)_kinematics">
    <rosparam command="load" file="$(find icclab_summit_xl)/config/kinematics.yaml"/>
  </group>

</launch>
