<!--
  Used for visualising the turtlebot while building a map or navigating with the ros navistack.
 -->
<launch>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find icclab_turtlebot)/rviz/navigation.rviz"/>
  <!--<include file="$(find turtlebot_bringup)/launch/includes/description.launch.xml">  
    <arg name="base" value="kobuki" />
    <arg name="stacks" value="hexagons" />
    <arg name="3d_sensor" value="kinect" />
  </include>-->
  <include file="$(find icclab_turtlebot)/launch/includes/robot_model.launch.xml">
    <arg name="base" value="kobuki" />
    <arg name="stacks" value="hexagons" />
    <arg name="3d_sensor" value="kinect" />
  </include>
</launch>
