<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="robotiq_arg2f_transmission0" params="prefix">
    <transmission name="${prefix}finger_joint_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}finger_joint">
        <!--hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface-->
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}finger_joint_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  </xacro:macro>

  <xacro:macro name="robotiq_arg2f_transmission1" params="prefix">
    <transmission name="${prefix}right_outer_knuckle_joint_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}right_outer_knuckle_joint">
        <!--hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface-->
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}right_outer_knuckle_joint_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  </xacro:macro>


</robot>
