<launch>
    <arg name="type"/>
    <arg name="serial_port"/>

    <node pkg="urg_node" type="urg_node" name="urg_node_$(arg type)" output="screen">
        <param name="serial_port" value="$(arg serial_port)"/>
	<param name="ip_address" value=""/>
    	<param name="serial_baud" value="115200"/>
    	<param name="frame_id" value="summit_xl_$(arg type)_laser_base_link"/>
    	<param name="calibrate_time" value="false"/>
    	<param name="skip" value="true"/>
	<param name="publish_intensity" value="false"/>
    	<param name="publish_multiecho" value="false"/>
    	<param name="angle_min" value="-2.2689"/>
    	<param name="angle_max" value="2.2689"/>
	<remap from="scan" to="scan_$(arg type)"/>
    </node>
</launch>
