<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="realsense">
<xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />
<xacro:include filename="$(find icclab_summit_xl)/urdf/sensors/orbbec_astra.urdf.xacro"/>

<xacro:macro name="sensor_d435_icclab" params="parent *origin prefix:=arm_camera use_nominal_extrinsics:=true add_plug:=true use_mesh:=true ns:=summit">
	
	<xacro:sensor_d435 parent="${parent}" name="${prefix}" use_nominal_extrinsics="${use_nominal_extrinsics}" add_plug="${add_plug}" use_mesh="${use_mesh}">  
	  <xacro:insert_block name="origin" />
	</xacro:sensor_d435>

	<!-- reuse gazebo camera for orbec -->
	<xacro:sensor_orbbec_astra_gazebo_icclab ns="${ns}" prefix="${prefix}" frame="${prefix}_color_optical_frame"/>
</xacro:macro>	

</robot>

