<?xml version="1.0"?>
<robot name="luxonis_camera_gazebo" xmlns:xacro="http://wiki.ros.org/Sensors/OrbbecAstra">

  <xacro:macro name="luxonis_camera_gazebo" params="ns prefix frame">
    <xacro:property name="M_PI" value="3.1415926535897931" />
    <gazebo reference="${prefix}_link">
      <sensor name="${prefix}" type="camera">
        <pose>0 0 0 0 -1.5707963267948966 -1.5707963267948966</pose>
        <visualize>true</visualize>
        <always_on>true</always_on>
        <update_rate>15</update_rate>
        <!-- <camera name="orbbec"> -->
        <camera name="${prefix}">
          <camera_info_topic>${ns}/${prefix}/color/camera_info</camera_info_topic>
          <horizontal_fov>1.04719755</horizontal_fov>
          <vertical_fov>0.86393798</vertical_fov>
          <image>
            <format>B8G8R8</format>
            <width>640</width>
            <height>480</height>
          </image>
          <clip>
            <near>0.05</near>
            <far>20.0</far>
          </clip>
        </camera>
        <!-- plugin https://docs.ros.org/en/ros2_packages/rolling/api/gazebo_plugins/generated/classgazebo__plugins_1_1GazeboRosCamera.html -->
        <!-- <plugin name="${prefix}" filename="libignition-gazebo-sensors-system.so"> -->
          <ros>
            <namespace>${ns}</namespace>
            <remapping>~/image_raw:=~/color/image_raw</remapping>
            <remapping>~/camera_info:=~/color/camera_info</remapping>
            <remapping>~/image_raw/compressed:=~/color/image_raw/compressed</remapping>
            <remapping>~/image_raw/compressedDepth:=~/color/image_raw/compressedDepth</remapping>
            <remapping>~/image_raw/theora:=~/color/image_raw/theora</remapping>
          </ros>
          <!-- <camera name="${prefix}"/> -->
          <gz_frame_id>${frame}</gz_frame_id>
          <min_depth>0.05</min_depth>
          <max_depth>20.0</max_depth>
        <!-- </plugin>  -->
        <topic>${ns}/${prefix}/color/image_raw</topic>
      </sensor>
    </gazebo>
  </xacro:macro>

</robot>