<?xml version="1.0"?>
<robot name="sensor_orbbec_astra_icclab" xmlns:xacro="http://wiki.ros.org/Sensors/OrbbecAstra">
  <xacro:macro name="sensor_orbbec_astra_icclab" params="ns prefix parent *origin">
    <joint name="${prefix}_joint" type="fixed">
    	<xacro:insert_block name="origin"/>
      <parent link="${parent}"/>
      <child link="${prefix}_link"/>
    </joint>
    <link name="${prefix}_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://robotnik_sensors/meshes/orbbec_astra.dae"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="-0.02 0 0.015" rpy="0 0 0"/>
        <geometry>
          <box size="0.042 0.155 0.03"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="0.3" />
        <origin xyz="0.0 0.0 0.0" />
        <xacro:solid_cuboid_inertia m="0.3" w="0.04" h="0.165" d="0.03" />
      </inertial>
    </link>
    <joint name="${prefix}_rgb_joint" type="fixed">
      <origin xyz="0.0 0.0125 0.0150" rpy="0.0 0.0 0.0"/>
      <parent link="${prefix}_link"/>
      <child link="${prefix}_rgb_frame" />
    </joint>
    <link name="${prefix}_rgb_frame"/>
    <joint name="${prefix}_rgb_optical_joint" type="fixed">
      <origin xyz="0.0 0.0 0.0" rpy="${-M_PI/2} 0 ${-M_PI/2}" />
      <parent link="${prefix}_rgb_frame" />
      <child link="${prefix}_rgb_optical_frame" />
    </joint>
    <link name="${prefix}_rgb_optical_frame"/>
    <joint name="${prefix}_depth_joint" type="fixed">
      <origin xyz="0.0 0.0375 0.0150" rpy="0 0 0" />
      <parent link="${prefix}_link" />
      <child link="${prefix}_depth_frame" />
    </joint>
    <link name="${prefix}_depth_frame"/>
    <joint name="${prefix}_depth_optical_joint" type="fixed">
      <origin xyz="0 0 0" rpy="${-M_PI/2} 0 ${-M_PI/2}" />
      <parent link="${prefix}_depth_frame" />
      <child link="${prefix}_depth_optical_frame" />
    </joint>
    <link name="${prefix}_depth_optical_frame"/>
    <xacro:sensor_orbbec_astra_gazebo_icclab ns="${ns}" prefix="${prefix}" frame="${prefix}_rgb_optical_frame"/>
  </xacro:macro>
  <xacro:macro name="sensor_orbbec_astra_gazebo_icclab" params="ns prefix frame">
    <xacro:property name="deg_to_rad" value="0.01745329251994329577"/>
    <gazebo reference="${prefix}_link">
      <sensor name="${prefix}" type="camera">
        <pose>0 0 0 0 0 0</pose>
        <visualize>true</visualize>
        <always_on>true</always_on>
        <update_rate>15</update_rate>
        <!-- <camera name="orbbec"> -->
        <camera name="${prefix}">
          <camera_info_topic>${ns}/${prefix}/color/camera_info</camera_info_topic>
          <horizontal_fov>1.04719755</horizontal_fov>
          <vertical_fov>0.86393798</vertical_fov>
          <image>
            <format>B8G8R8</format>
            <width>640</width>
            <height>480</height>
          </image>
          <clip>
            <near>0.05</near>
            <far>20.0</far>
          </clip>
        </camera>
        <!-- plugin https://docs.ros.org/en/ros2_packages/rolling/api/gazebo_plugins/generated/classgazebo__plugins_1_1GazeboRosCamera.html -->
        <!-- <plugin name="${prefix}" filename="libignition-gazebo-sensors-system.so"> -->
          <ros>
            <namespace>${ns}</namespace>
            <remapping>~/image_raw:=~/color/image_raw</remapping>
            <remapping>~/camera_info:=~/color/camera_info</remapping>
            <remapping>~/image_raw/compressed:=~/color/image_raw/compressed</remapping>
            <remapping>~/image_raw/compressedDepth:=~/color/image_raw/compressedDepth</remapping>
            <remapping>~/image_raw/theora:=~/color/image_raw/theora</remapping>
          </ros>
          <!-- <camera name="${prefix}"/> -->
          <gz_frame_id>${frame}</gz_frame_id>
          <min_depth>0.05</min_depth>
          <max_depth>20.0</max_depth>
        <!-- </plugin>  -->
        <topic>${ns}/${prefix}/color/image_raw</topic>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>